
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.shows-container {
    padding: 50px 0;
}

.shows-container img {
    width: 25%;
    display: block;
    margin: 0 auto;
}

input[type="text"] {
    width: 500px;
    height: 35px;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.show-list {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.show-list div {
    background: #333;
    color: #fff;
    width: 500px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.show-list img {
    width: 50%;
}

.show-list h1 {
    color: bisque;
    font-size: 2rem;
    margin-top: 5px;
}

.show-list h2 {
    color: bisque;
    font-size: 1rem;
}

.show-list h4 {
    margin: 5px 0;
    font-size: 1.2rem;
}

.show-list a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: bisque;
    margin-top: 10px;
}

.show-list a:hover {
    text-decoration: underline;
}

.no-results {
    text-align: center;
}

@media (max-width: 600px) {
    .shows-container img {
        width: 50%;
    }

    input[type="text"] {
        width: 300px;
    }

    .show-list div {
        width: 350px;
    }

    .show-list h1 {
        font-size: 1.5rem;
    }
}


